.userDashboard {
  margin-top: 50px;
}
.userDashboard aside {
  background: #ffffff;
  border-radius: 32px;
  padding: 100px 15px;
  margin-top: 1rem !important;
}
aside ul {
  padding: 0;
}
.position-relative {
  position: relative;
}
aside ul li {
  margin-bottom: 10px;
  list-style: none;
}
aside ul li a {
  color: #9593a0 !important;
  display: block;
  padding: 15px;
  border-radius: 16px;
}
aside ul li a.active {
  color: #ffffff !important;
  background: #6875de;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.dashboard {
  background: #ffffff;
  border-radius: 32px;
  padding: 15px 40px;
  height: 100%;
  margin-top: 1rem !important;
}
.svgWidth {
  width: 100%;
}
.data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data h2 {
  font-size: 24px;
  color: #262628;
  font-weight: bold;
}
.data address {
  color: #292929;
  font-size: 18px;
}
.data p {
  color: #292929;
  font-size: 18px;
  letter-spacing: -0.016em;
}
.bottomData p {
  color: #262628;
  letter-spacing: 0.019em;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
.bottomData p svg {
  color: #6875de;
  margin-right: 10px;
}
.findHome {
  height: 100%;
  width: 600px;
  margin: 20px auto 0;
}
.steps {
  text-align: center;
}
.steps h1 {
  margin-bottom: 15px;
  font-size: 32px;
}
.steps h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
}
.stepwizard {
  display: table;
  width: 65%;
  position: relative;
  margin: 0 auto 15px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard-row::before {
  top: 13px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  left: 10%;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 20%;
}
.stepwizard-step button {
  line-height: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  padding: 7px;
}
.step-content {
  display: none;
  width: 100%;
}
.step-content.step_active {
  display: inline-block;
}
.stepwizard-step button.step_active {
  background-color: #6875de;
}
.imageBox {
  width: 420px;
  margin: 0 auto 20px;
}
.imageBox img {
  max-width: 100%;
}

.imageBox input[type="checkbox"][id^="cb"] {
  display: none;
}

.imageBox label {
  display: block;
  position: relative;
  /* margin: 10px; */
  cursor: pointer;
}

.imageBox label:before {
  background-color: white;
  color: #6875de;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #6875de;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 22px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 1;
  font-weight: bold;
}

.imageBox label img {
  /* height: 100px;
  width: 100px; */
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.imageBox :checked + label {
  border-color: #ddd;
}

.imageBox :checked + label:before {
  content: "✓";
  background-color: #ffffff;
  transform: scale(1);
}

.imageBox :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.btnstyle {
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 5px 25px;
  background: transparent;
  color: white;
  font-weight: 800;
}
.btnstyle.btnNext {
  background: #6875de;
  color: #222651;
  border-color: #6875de;
}

.clientBox {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  text-align: center;
  padding: 15px;
}
.clientData {
  color: #000000;
}
.clientData h2 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 5px;
}
.clientData .email {
  font-weight: 900;
}
.clientData .extraData {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
/* .bottomBtns .clientBtmbtnStyles {
  background: #6875de;
  border-radius: 62px;
  color: #000000;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 800;
  width: 210px;
} */
.arrownDiv {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.no-background {
  border: none;
  background-color: transparent;
}
.arrownDiv .arrowBtn {
  background: #c4c4c4;
  color: #ffffff;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  font-size: 80px;
  line-height: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.mainDetailBox {
  background: #ffffff;
  border-radius: 8px;
}
.mainDetailBox.userSideBox {
  width: 50%;
  margin: auto;
}
.dataList li img {
  width: 70px;
  height: 70px;
}
.dataList li {
  margin-bottom: 15px;
  padding: 10px 30px;
  list-style-type: none;
}
.dataList li .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dataList li .active {
  background: #f2de92;
}
.dataList li .dataListP {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.dataList li .dataListP span {
  color: #6875de;
}
.dataList li .dataListP span.noTour {
  color: orange;
}
.MuiSlider-root {
  color: #ffffff !important;
}
.MuiSlider-thumb {
  background-color: #6875de !important;
}
/* .PrivateValueLabel-label-6 {
    color: #6875de !important;
  } */
.PrivateValueLabel-circle-5 {
  background-color: transparent !important;
}
.PrivateValueLabel-offset-4 {
  top: -20px !important;
}
@media only screen and (max-width: 992px) {
  .mainDetailBox.userSideBox {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .svgWidth {
    width: 100px;
  }
  .findHome,
  .imageBox {
    width: 100%;
  }
  .mainDetailBox.userSideBox {
    width: 90%;
  }
}
@media only screen and (max-width: 575px) {
  .dataList li .dataListP {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .centered{
    left: 38%;
  }
  .btnstyle {
    padding: 5px 15px;
    font-size: 13px;
  }
}
